@font-face {
//   font-family: 'Somatic Rounded';
//   src: url('../fonts/Somatic-Rounded.eot');
//   src: local('Somatic Rounded'), local('Somatic-Rounded'),
//   url('../fonts/Somatic-Rounded.eot?#iefix') format('embedded-opentype'),
//   url('../fonts/Somatic-Rounded.woff') format('woff'),
//   url('../fonts/Somatic-Rounded.ttf') format('truetype');
//   font-weight: normal;
//   font-style: normal;
}